.title {
  margin-bottom: 16px;

  display: flex;
  align-items: center;

  button {
    border: 0;
    padding: 0 8px;
    cursor: pointer;
    margin-right: 16px;
    transition: opacity 0.3s;
    background-color: transparent;

    font-size: 24px;
    font-weight: 700;

    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }

  @media only screen and (min-width: 769px) {
    margin-bottom: 32px;
  }
}

.list {
  margin: -4px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  li {
    padding: 4px;
    flex: 1 1 50%;

    @media only screen and (min-width: 501px) {
      flex-basis: 33.333%;
    }
  }

  @media only screen and (min-width: 769px) {
    margin: -6px;

    li {
      padding: 6px;
    }
  }
}
